
:root {
    --main-dark-color: #2F334E;
    --main-light-color: #7CBABA;
    --dark-color: #43455C;
    --light-color: #707793;
    --accent-color: white;
  }
nav.navbar {
  /* background-color: var(--main-dark-color); */
  /* background-color: #43455c00; */
  
}
a.nav-link, a.navbar-brand{
    color:var(--main-light-color);
}

