/* Custom fonts */
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book-BF646c2690591ba.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium-BF646c26901ce01.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold-BF646c26904e7ce.ttf");
  font-weight: 700;
}
:root {
  --main-dark-color: #2f334e;
  --main-light-color: #7cbaba;
  --dark-color: #43455c;
  --light-color: #707793;
  --accent-color: white;
}
/* #CDE3E3 #2A9090 #006868 */

body {
  margin: 0;
  font-family: Centra, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-light-color);
  background-color: var(--main-dark-color);
}
#root {
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--main-light-color);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
