
:root {
  --main-dark-color: #2F334E;
  --main-light-color: #7CBABA;
  --dark-color: #43455C;
  --light-color: #707793;
  --accent-color: white;
}
/* #CDE3E3 #2A9090 #006868 */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:var(--main-light-color);
  background-color: var(--main-dark-color);
}
#root{
  margin: 0 auto;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
